/* 
========
First page : présentation 
========
*/
body {
    background-color: #051D0B;
    overflow-x: hidden;
}
header {
    min-height: 80vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
a {
    text-decoration: none;
}
.entete {
    display: flex;
    justify-content: space-between;
}
.enteteComp {
    float: left;
    margin: 20px
}
.enteteExp {
    float: right;
    margin: 20px;
}

.enteteContact {
    display: block;
    text-align: center;
    margin: auto 30vw;
}
.btn {
    display: block;
    background: linear-gradient(var(--clr--linear));
    border-radius: 3em;
    font-size: 1em;
    border: 2px solid white;
    text-align: center;
    padding: 0.2em 0.9em;
}
.logo {
    margin-top: 20px;
    height: 4vh;
}
.centerimg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: 50%;
    width: 50%;
}
.left {
    display: flex;
    flex-direction: column;
    background: url(/img/Rectangle\ 6.svg);
    background-position: center;
    background-position-x: right;
    background-size: cover;
    justify-content: space-between;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-radius: 0 5em 5em 0; 
    height : 430.35px;
    width  : 50px;
    z-index: 1;
}
.comp {
    height: 40px; 
    width: 40px;
    margin-left: 15px;
}
.mail {
    height: 25px;
    width: 30px;
    margin-left: 6px;
}
.exp {
    height: auto;
    width: 30px;
    margin-left: 6px;
}
.right {
    float: right;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: RampartOne;
    font-size: 33px;
    letter-spacing: .3em;
    color: white; 
    text-transform: uppercase;
}
.right p {
    text-shadow: 10px 10px #00FFE0;
}

.presentation {
    border: 1px solid transparent;
    border-radius: 1em;
    background-image: linear-gradient(#05250ee0, #000c03e0), 
    linear-gradient(to right, gray, black);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 80vw;
    height: 30vh;
    margin: 20px auto auto auto;
}
.presentation p {
    color: white;
    text-align: center;
    padding: 5vh 2vw 5vh 2vw;
    font-size: 1.5em;
}


.shadowLight {
    position: absolute;
    width: 100%;
    height: 10rem;
    left: -45%;
    top: 30rem;
    background: radial-gradient(60.8% 80.8% at 50% 50.2%, #089C2D 60%, rgba(23, 29, 61, 0) 80%);
    filter: blur(100px);
}
