*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
=========
FONTS
=========
*/

@font-face {
    font-family: "RampartOne";
    src: url("../../font/RampartOne-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../../font/Poppins-Medium.ttf");
}
/*
==========
VARIABLE
==========
*/
:root {
    --clr--linear : #073513e0, #00FFE0;
}


h1 {
    font-size: 2em;
    text-align: center;
    color: white;
}
*{
    color: rgb(221, 9, 9);
}
.marge {
    margin-top: 80px;
}