/*@media screen and (min-width: 662px) {*/
    @media screen and (min-width: 662px) {
        .left{
            position: fixed;
            height: 20vh;
        }
        div.presentation{
            margin-top: 40px;
        }
        .presentation p {
            margin: 30px;
        }
        img.centerimg {
            width: 250px;
        }
        .alignTitleExp {
            position: absolute;
            left: 20%;
        }
        div.workcontainer {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        gap: 40px;
        }
        section.work {
            width: 65vw;
            height: 50vh;
        }
        img.img-work {
            height: 30vh;
        }
        div.background {
            background: linear-gradient(#1d2726, #013f10);
            width: 100%;
            border-radius: 0 0 1.5em 1.5em;
            padding: 70px;
        }
        div.background p {
            font-size: 1.2em;
        }
        section.third {
            margin: 40px 17.4vw;
        }
        div.alignTitleComp {
            margin: auto 100px;
        }
        h1.titlecomp {
            position: absolute;
            top: 20px;
            left: 150px;
            right: 0;
        }
        form.formulaire {
            margin: 30px 70px auto;
        }
        img.roue {
            float: right;
            width: 50%;
            height: 50%;
        }
        article.Projet {
            display: inline-block;
            height: 40vh;
            width: 35%;
            font-size: 1.3em;
            line-height: 3em;
            margin-left: 70px;
        }
        a.btn.CV {
            padding: 15px;
        }
        textarea.inputColor{
            height: 220px;
        }
        section.entêtecontact {
            margin-top: 200px;
        }
        }