*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
=========
FONTS
=========
*/

@font-face {
    font-family: "RampartOne";
    src: url("../font/RampartOne-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Medium.ttf");
}
/*
==========
VARIABLE
==========
*/
:root {
    --clr--linear : #073513e0, #00FFE0;
}


h1 {
    font-size: 2em;
    text-align: center;
    color: white;
}
*{
    color: white;
}

/*
============ 
RESPONSIVE
============
*/
@media screen and (min-width: 662px) {
    .left{
        position: fixed;
        height: 20vh;
    }
    .presentation p {
       margin: 30px;
    }
    .alignTitleExp {
        position: absolute;
        left: 20%;
    }
    .workcontainer {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    section.work {
        width: 65vw;
        height: 50vh;
    }
   img.img-work {
    height: 30vh;
   }
   div.background {
    background: linear-gradient(#1d2726, #013f10);
    width: 100%;
    border-radius: 0 0 1.5em 1.5em;
    padding: 50px;
}
div.background p {
    font-size: 1.2em;
}
section.third {
    margin-top: 20px;
    margin: 20px 17.4vw;
}
div.alignTitleComp {

    margin: auto 100px;
}
h1.titlecomp {
    position: absolute;
    top: 20px;
    left: 150px;
    right: 0;
}
form.formulaire {
    margin: 30px 70px auto;
}
}



/* 
========
First page : présentation 
========
*/
body {
    background-color: #051D0B;
    overflow-x: hidden;
}
header {
    min-height: 80vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
a {
    text-decoration: none;
}
.entete {
    display: flex;
    justify-content: space-between;
}
.enteteComp {
    float: left;
    margin: 20px
}
.enteteExp {
    float: right;
    margin: 20px;
}

.enteteContact {
    display: block;
    text-align: center;
    margin: auto 30vw;
}
.btn {
    display: block;
    background: linear-gradient(var(--clr--linear));
    border-radius: 3em;
    font-size: 1em;
    border: 2px solid white;
    text-align: center;
    padding: 0.2em 0.9em;
}
.logo {
    margin-top: 20px;
    height: 4vh;
}
.centerimg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: auto;
}
.left {
    display: flex;
    flex-direction: column;
    background: url(/img/Rectangle\ 6.svg);
    background-position: center;
    background-position-x: right;
    justify-content: space-between;
    border-left: 5px solid white;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-radius: 0 5em 5em 0; 
    height : 53vh;
    width  : 50px;
    z-index: 1;
}
.comp {
    height: 40px; 
    width: 40px;
    margin-left: 15px;
}
.mail {
    height: 25px;
    width: 30px;
    margin-left: 6px;
}
.exp {
    height: auto;
    width: 30px;
    margin-left: 6px;
}
.right {
    float: right;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: RampartOne;
    font-size: 33px;
    letter-spacing: .3em;
    color: white; 
    text-transform: uppercase;
}
.right p {
    text-shadow: 10px 10px #00FFE0;
}

.presentation {
    border: 1px solid transparent;
    border-radius: 1em;
    background-image: linear-gradient(#05250ee0, #000c03e0), 
    linear-gradient(to right, gray, black);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 80vw;
    height: 30vh;
    margin: 20px auto auto auto;
}
.presentation p {
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 1.5em;
}


.shadowLight {
    position: absolute;
    width: 100%;
    height: 10rem;
    left: -45%;
    top: 30rem;
    background: radial-gradient(60.8% 80.8% at 50% 50.2%, #089C2D 60%, rgba(23, 29, 61, 0) 80%);
    filter: blur(100px);
}




/*
===========
Expérience 
===========
*/

.expsection {
    margin-top: 50px;
}
.alignTitleExp {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto 20px;
}
.persoexp {
    position: relative;
}
.titleexp {
    position: absolute;
    top: 60px;
    left: 90px;
    right: -18px;
}
.workcontainer {
    display: flex;
    justify-content: space-around;
}
.work {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1.5em;
    background: linear-gradient(#2e4b47, #013f10);
    box-shadow: inset 0px -5px 0 #4b615e, #013f10;
    height: 17vh;
    width: 45vw;
}

.background {
    background: linear-gradient(#1d2726, #013f10);
    width: 100%;
    border-radius: 0 0 1.5em 1.5em;
}
.background p {
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 0.7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.first {
    margin-left: 10px;
}
.second {
    margin-right: 10px;
}
.img-work{
    object-fit: cover;
    width: auto;
    height: 11vh;
}
.third {
    margin: auto 28vw;
    background: linear-gradient(#0c1312, #013f10);
}
.third div.background {
    background: linear-gradient(#013f10,#0c1312);
}
.infoCV {
    text-align: center;
    color: white;
    font-family: Poppins;
    font-weight: 10;
    font-size: 1.5em;
    width: 80%;
    padding: 20px;
    margin: auto;
}
.textCV {
    margin-top: 40px;
}
.CV {
    position: relative;
    margin: 20px 30vw;
    cursor: pointer;
    z-index: 6;
}


/*
===========
Compétence
===========
*/

.compsection {
    margin-top: 50px;
}
.alignTitleComp {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto 20px;
}
.persoComp {
    position: relative;
    height: 264px;
    width: 167px;
    filter: opacity(80%);
    z-index: 10;
}
.shadowLightComp {
position: absolute;
width: 503px;
height: 610px;
left: 39px;
top: -200px;
background: radial-gradient(40.8% 40.8% at 50% 50.2%, #089C2D 10%, rgba(23, 29, 61, 0) 80%);
filter: blur(100px);
}
.titlecomp {
    position: absolute;
    top: 20px;
    left: 90px;
    right: 0;
}
.midComp {
    position: absolute;
    bottom: 45px;
    border: 1.3px solid transparent;
    border-radius: 1em;
    background-image: linear-gradient(#05240e, #03290dd8), 
    linear-gradient(to right, gray, black);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-size: 1.2em;
    width: 80vw;
    height: 13vh;
    margin-left: 10px;
}
.midComp p {
    color: white;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 7px;
}
.titlecomp {
    color: white;
    font-weight: bold;
    grid-row: 1;
    text-align: center;
    margin-top: 30px;
}

.roue {
    position: relative;
}
.Projet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid transparent;
    border-radius: 1em;
    background-image: linear-gradient(#05250ee0, #000c03e0), linear-gradient(to right, gray, black);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 80vw;
    height: 20vh;
    margin: 30px auto auto auto;
}
.Projet h3 {
    text-align: center;
    font-size: 1.4em;
}
.projectLi ul li {
    list-style: none;
    text-align: center;
    font-size: 1.2em;
}


/*
===========
Contact
===========
*/
.entêtecontact {
    margin-top: 40px;
}
.return {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}
.return img {
    height: 2vh;
}
.formulaire {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3em;
    background-image: linear-gradient(#05250ee0, #000c03e0), 
    linear-gradient(to right, gray, black);
    background-origin: border-box;
    background-clip: content-box, border-box;
    height: 60vh;
    margin: 30px 50px auto;
}
.formulaire h3 {
    margin-top: 20px;
}

.inputColor {
    color: black;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.212);
    border: none;
    padding: 10px;
    width: 60vw;
}
.Envoyer {
    background: linear-gradient(var(--clr--linear));
    border-radius: 3em;
    font-size: 1em;
    text-align: center;
    padding: 0.2em 0.9em;
    cursor: pointer;
}
.socialnetwork {
    border: 1px solid transparent;
    border-radius: 1em;
    background-image: linear-gradient(#05250ee0, #000c03e0), 
    linear-gradient(to right, gray, black);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 30px 20px 0 20px;
    height: 20vh;
}
.socialnetwork p {
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
}
.social-icon{
    font-size: 5vh;
    margin: auto 5px auto 85px;
}

