*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------- @Font-Face -------------------*/
@font-face {
    font-family: "RampartOne";
    src: url("../font/RampartOne-Regular.ttf");
}

/*------------------- Default ----------------------------*/
h1 {
    font-size: 2.5em;
    text-align: center;
    color: white;
}
*{
    color: white;
}









/* ------------------- Présentation -----------------*/
body {
    background-color: #051D0B;
    height: auto;
    overflow-x: hidden;
}
.header {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.indexentête{
    display: grid;
    grid-template-columns: auto 100px auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}
.indexentête a{
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    background: linear-gradient(#073513e0, #00FFE0);
    border-radius: 3em;
    font-size: 1em;
    width: 27vw;
    max-width: 900px;
    text-align: center;
    border: 2px solid white;
    text-wrap: 2px;
    text-align: center;
}
.indexentête a:nth-child(2) {
    grid-row: 2;
    grid-column: 2;
    margin-top: 20px;
}
.indexentête a:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
}
.logo{
    grid-row: 1;
    grid-column: 2;
    height: 3rem;
    padding-left: 36px;
    padding-top: 12px;
}

header .midpage{
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}
.centerimg {
    grid-column: 2;
    height: 50%;
    border-radius: 50%;
    margin-left: 3px;
}
.right {
    grid-column: 3;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: RampartOne;
    font-size: 33px;
    letter-spacing: .3em;
    color: white; 
    text-transform: uppercase;
}
.right p {
    text-shadow: 10px 10px #00FFE0;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: -1;
    grid-column: 1;
    background: #FFFFFF;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-radius: 0 5em 5em 0; 
    height : 25rem;
    width  : 3rem;
}
.comp {
    height: 3rem; 
    width: 3rem;
    margin-left: 6px; 
}
.mail {
    height: 1.5rem;
    width: 2rem;
    margin-left: 6px;
}
.exp {
    height: 1.5rem;
    width: 2rem;
    margin-left: 6px;
}
.presentation {
    color: white;
    text-align: center;
    background: #083614;
    border: 4px solid #0dc5c5c7;
    border-style: groove blue;
    border-radius: 1em;
    font-size: 1em;
    width: 80vw;
    padding: 20px;
    text-align: center;
    margin: auto;
}
.border {
    outline: 0.125rem solid #0dc5c5c7;
    outline-offset: 0.25rem;
    box-shadow: 5px 5px 10px 2px #04ecec67;
}
.presentation p {
    text-align: center;
    font-size: 1.2em;
}
.presentation div {
    position: absolute;
    width: 100%;
    height: 10rem;
    left: -40%;
    top: 30rem;
    background: radial-gradient(49.8% 59.8% at 40% 85.2%, #0dc5c5c7 100%, rgba(16, 34, 139, 0) 100%);
    filter: blur(100px);
    }

/*------------------------Expérience ------------------------*/
.expsection {
    display: grid;
    grid-template-rows: 20% auto auto 20%;
    height: 40vh;
    margin-top: 50px;
}
.workcontainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 2rem auto;
    gap: 10px;
    justify-content: space-around;
}
.work {
    border-radius: 2em;
    margin-bottom: 3rem;
    display: grid;
    grid-template-rows: 1fr 1.5rem;
    align-items: center;
    height: 100%;
    margin: 20px auto;
    background: linear-gradient(#4b615e, #013f10);
}
.work p {
    text-align: center;
    margin-bottom: 2em;
    letter-spacing: .1em;
    padding: 1px;
}
.first {
    margin-left: 10px;
}
.second {
    margin-right: 10px;
}

.img-work img{
    width: 50%;
    height: 50%;
    justify-content: center;
    display: inline-block;
    margin-left: 40px;
}


.CV {
    grid-row: 4;
    text-align: center;
}












/*------------------------ compétence -----------------*/
/*
.compsection {
    display: grid;
    background-color: #051D0B;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto;
    gap: 20px;
}
.titlecomp {
    color: white;
    font-weight: bold;
    grid-row: 1;
    text-align: center;
    margin-top: 30px;
}
.entêtecomp {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1;
}
.entêtecomp a{
    display: inline-block;
    text-decoration: none;
    justify-content: space-evenly;
    font-size: 20px;
}
.entêtecomp a:nth-child(1){
    background: lightgreen;
    grid-column-start: 1;
    grid-row-start: 1;
}
.entêtecomp a:nth-child(2){
    background: lightgreen;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
}
.entêtecomp a:nth-child(3){
    background: lightgreen;
    grid-column-start: 3;
    grid-row-start: 1;
}
.mid{
    position: relative;
    display: block;
    grid-row-start: 3;
    color: white;
    text-align: center;
    background: linear-gradient(#051D0B, #00FFE0);
    border-radius: 3em;
    font-size: 2em;
    width: 75%;
    align-content: center;
    margin-left: 10%;
    height: 20vh;
}
.mid section p{
    position: absolute;
    top: 25px;

}
.wheel {
    grid-template-rows: 4;
}
.roue {
    height: 75%;
    width: 75%;
    margin-left: 12%;
}
.Projet {
    grid-row-start: 5;
    position: relative;
    color: white;
    text-align: center;
    background: linear-gradient(#051D0B, #00FFE0);
    border-radius: 3em;
    font-size: 2em;
    width: 75%;
    align-content: center;
    margin-left: 10%;
    height: 20vh;
}
li {
    display: inline-block;
}
*/



